aiofiles
aiohttp
apscheduler
asyncio
bard
beautifulsoup4
bs4
bing_image_downloader 
cloudscraper
deepai
dnspython
emojis
ffmpeg-python
Faker
future==1.0.0
git+https://github.com/AsmSafone/SafoneAPI
gitpython
geopy
gpytranslate
gtts
hachoir
heroku3
httpx==0.27.0
img2pdf
instaloader
lexica-api
motor 
MukeshAPI
numpy
openai==0.28.0
opencv-python
pillow==10.3.0
psutil
pickledb
pornhub-api==0.3.0
pycountry
pycryptodome
pydub
pyfiglet
pykeyboard
pyrogram==2.0.106
python-dotenv
python-telegram-bot==21.1.1
python-whois
pyshorteners
pyttsx3
pytz
pytube
py-tgcalls==0.9.7
pyyaml==6.0.1
qrcode
requests
SafoneAPI
search_engine_parser
speedtest-cli
SpeechRecognition
spotipy
telegraph
tgcrypto
unidecode
wget
yt-dlp
youtube-search
youtube-search-python
