aiofiles
aiohttp
apscheduler
asyncio
bard
beautifulsoup4
bs4
bing_image_downloader
curl-cffi
cloudscraper
deepai
dnspython
emojis
ffmpeg-python
Faker
future
google-api-python-client
gitpython
g4f
geopy
gpytranslate
gtts
hachoir
heroku3
httpx
img2pdf
instaloader
langdetect
googletrans==4.0.0-rc1
lexica-api
motor 
numpy
nest_asyncio
nekosbest
openai==0.28.0
opencv-python
pillow==10.3.0
psutil
pickledb
pycountry
pycryptodome
pydub
pyfiglet
pykeyboard
git+https://github.com/doraemon890/pyrogram
python-dotenv
python-telegram-bot
python-whois
pyshorteners
pyttsx3
pytz
pytube
py-tgcalls==0.9.7
pyyaml
qrcode
requests
search_engine_parser
speedtest-cli
SpeechRecognition
spotipy
telegraph
tgcrypto
unidecode
wget
yt-dlp
youtube-search
youtube-search-python
